body {
  background-color: whitesmoke;
}

  button {
    transition-duration: 0.4s;
    background-color:#f44336; /* Green */
  border: none;
  color: white;
  padding: 6px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  }
  
  button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }

